@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Challenges</h1>
                <h2>Code Simple</h2>
            </hgroup>
            <p>
                Register. Accept challenge. Solve problems. Get award.
            </p>
        </div>
    </section>
}
<h3>Enjoy our coding time:</h3>
<ol class="round">
    <li class="one">
        <h5>Register / login to your account</h5>
        So easy, come on guy.
    </li>

    <li class="two">
        <h5>Accept challenge</h5>
        Accept the challenge by cliking START.
    </li>

    <li class="three">
        <h5>Sovle and submit the result</h5>
        Programming or non-programming are alright. Submit the RESULT only.
        <br />
        Solve the problems in sequence. The winner is a contestant who solve the largest number of problem in shortest time.
    </li>

    <li class="four">
        <h5>Get award</h5>
        We offer the award for top 1 contestant, top 1 of each problem's quick solving.
    </li>
</ol>